.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .quickButtons {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-top: 3rem;
  }
}

.homepageImg {
  max-width: 800px;
}