.start-keuze {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 3rem 1rem;
    background-color: var(--light-green);
    text-align: center;
    gap: 1.5rem;
    margin: 30px;

}


.start-keuze h2 {
    font-size: 1.125rem;
    color: var(--orange);
    font-weight: normal;
    letter-spacing: 0.03em;
}

.start-keuze>p {
    font-size: 1.125rem;
    color: var(--dark-green);
    opacity: 0.8;
}

.keuze-knoppen {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
    margin-top: 0.5rem;


    button {
        min-width: 10rem;
        min-height: 4rem;

        a {
            font-size: 1.125rem;
            font-weight: bold;
        }
    }
}